# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules/

# Build output
dist/
dist-ssr/
build/
.vite/

# Environment
*.local
.env
.env.local
.env.development
.env.production
.env.test

# Capacitor / Native projects
android/
ios/
#capacitor.config.ts
#capacitor.config.json
*.xcworkspace
*.xcuserdata
*.xcodeproj/project.xcworkspace
*.xcodeproj/xcuserdata

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional for TypeScript
*.tsbuildinfo

# Coverage
coverage/

# OS generated
Thumbs.db